
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_UsersLayoutPage.cshtml";
}


<div class="about">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply amazing places</div>
                <div class="section_title"><h2>A few words about us</h2></div>
            </div>
        </div>
        <div class="row about_row">
            <div class="col-lg-6">
                <div class="about_content">
                    <div class="text_highlight">Travello Express is the first and the biggest foreign investment Company with an advanced and organized transport system in Pakistan. It is the only transport company to have a nationwide network with various international trade links. Being a transport service provider the company owns a large fleet of buses, Technically Advanced Workshops to maintain the fleet for the safety of the passengers, State of the Art Terminals, Training Institutes for Drivers and Mechanical Staff.
                                                Travello Express has been rendering transport facilities since its inception in 1997 to the people of Pakistan..</div>
                    <div class="about_text">
                        <p>It is appreciated by the masses as well as by the Governments of Pakistan as well as Korea for its consistent success. Media of both the countries often express appreciation for the revolutionary accomplishment of the Company in a transport sector, through various channels. Travello Express has been rendering transport facilities since its inception in 1997 to the people of Pakistan. It is appreciated by the masses as well as by the Governments of Pakistan as well as Korea for its consistent success. Media of both the countries often express appreciation for the revolutionary accomplishment of the Company in a transport sector, through various channels.</p>
                    </div>
                 </div>
            </div>
            <div class="col-lg-6">
                <div class="about_image"><img src="~/Content/images/about.png" alt=""></div>
            </div>
        </div>
    </div>
</div>

<!-- Milestones -->

<div class="milestones">
    <div class="container">
        <div class="row">

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="~/Content/images/mountain.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="17">0</div>
                    <div class="milestone_text">Travel Places</div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="~/Content/images/island.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="213">0</div>
                    <div class="milestone_text">Staff</div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="~/Content/images/camera.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="11923">0</div>
                    <div class="milestone_text">Passenger Travel</div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="~/Content/images/beach.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="100">0</div>
                    <div class="milestone_text">Cities</div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Why Choose Us -->

<div class="why">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src=@Url.Content("/Content/images/why.jpg") data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply amazing places</div>
                <div class="section_title"><h2>Why choose us?</h2></div>
            </div>
        </div>
        <div class="row why_row">

            <!-- Why item -->
            <div class="col-lg-4 why_col">
                <div class="why_item">
                    <div class="why_image">
                        <img src="~/Content/images/why_1.jpg" alt="">
                        <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                            <img src="~/Content/images/why_1.svg" alt="">
                        </div>
                    </div>
                    <div class="why_content text-center">
                        <div class="why_title">Fast Services</div>
                        <div class="why_text">
                            <p>We provide fast services to the customer.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Why item -->
            <div class="col-lg-4 why_col">
                <div class="why_item">
                    <div class="why_image">
                        <img src="~/Content/images/why_2.jpg" alt="">
                        <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                            <img src="~/Content/images/why_2.svg" alt="">
                        </div>
                    </div>
                    <div class="why_content text-center">
                        <div class="why_title">Great Team</div>
                        <div class="why_text">
                            <p>Our team behavior that is very sophisticated and polite to the customer.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Why item -->
            <div class="col-lg-4 why_col">
                <div class="why_item">
                    <div class="why_image">
                        <img src="~/Content/images/why_3.jpg" alt="">
                        <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                            <img src="~/Content/images/why_3.svg" alt="">
                        </div>
                    </div>
                    <div class="why_content text-center">
                        <div class="why_title">Best Deals</div>
                        <div class="why_text">
                            <p>We provide best deals to the customer who travel on the daily basis.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



