
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_UsersLayoutPage.cshtml";
}

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle"><h2>TRAVELING SERVICES</h2></div>
               
            </div>
        </div>
        <div class="row about_row">
            <div class="col-lg-6">
                <div class="about_content">
                    <div class="section_title"><h3>PUNCTUALITY</h3></div>
                    <div class="text_highlight">
                       
                        Time is the most precious asset at this age and at Daewoo, safety of this asset is guaranteed. Punctuality & regularity is the key feature of our service which is assured by leaving no stone unturned in making timely departures and arrivals. The passengers are valuable to us so as their time.
                    </div>
                    <div class="about_text">
                        <h3 style="color:black">AUDIO / VISUAL ENTERTAINMENT</h3>
                        <p >
                            Daewoo is committed to make your journey full of comfort & excitement. Traveling starts with recitation of Journey Prayer, followed by Audio Visual Entertainment including:
                            <ul>
                               
                                    <li> • Audio Songs</li>
                                    <li> • Family Movies, Dramas, Songs and Documentaries.</li>
                                    <li> • Switching System with Multiple Choices of Audio & Video</li>
                                    <li> • All esteemed daily Newspapers are also available in the bus</li>
                                   <li>  • Provision of Head Phones with every seat for an undisturbed enjoyment</li>
                               
                            </ul>
                       
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_image"><img src="~/Content/images/service.jpg" alt=""></div>
            </div>
        
    </div>
        <div class="row">
            <div class="col-lg-6">

                <div class="about_text">
                    <h3 style="color:black">LUXURY & GOLD CLASS BUSES</h3>
                    <p>
                        Add comfort to your journey by traveling through our luxury and gold class buses. All buses are equipped with:
                        <ul>

                            <li> • Comfortable and spacious seats.</li>
                            <li> • Latest audio visual technologies.</li>
                            <li> • Apart from this, a calm and peaceful environment is maintained in the bus for a luxurious traveling.</li>
                            

                        </ul>

                    </p>
                </div>
            </div>

            </div>


        <div class="row">
            <div class="col-lg-6">

                <div class="about_text">
                    <h3 style="color:black">LUGGAGE</h3>
                    <p>
                        Every possible support is available for carrying personal luggage while traveling. Please be aware that depending on local regulations, certain items which may cause injuries may not be taken on board in your carry-on baggage. Following are some available facilities:

                        <ul>

                            <li> • Luggage up to 30 KG can be carried by each passenger .</li>
                            <li> • In case of extra luggage, Extra Luggage (ELT) facility can be availed.</li>
                            <li> • Attachment of luggage tags for safety and security.</li>
                            <li> • Luggage is handled by trained loaders.</li>
                            <li> • Porters providing free of cost service.</li>

                        </ul>

                    </p>
                </div>
            </div>

        </div>




        <div class="row">
            <div class="col-lg-12">

                <div class="about_text">
                    <h3 style="color:black">COURTEOUS & TRAINED CREW</h3>
                    <p>
                        Our courteous and trained crew is responsible for a safe & luxurious journey. We are pioneer of introducing the concept of road hostess in the bus. Crew, which consists of Driver, Hostess and a Guard, is selected and trained in a manner to handle its duties professionally.

                    </p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="about_text">
                    <h3 style="color:black">NEWSPAPERS & MAGAZINE</h3>
                    <p>
                        Passengers can add to their joyful moments during the journey by reading latest newspapers and informative, entertaining and educational contents presented in Daewoo Magazine i.e. <bold>DESTINATIONS</bold> addition of which has been admired on large basis by valuable customers.


                    </p>
                </div>
            </div>

        </div>
        </div>
</div>

