@using VehicleReservationSystem.Domain.VehicleManagement
@using VehicleReservationSystem.Domain.UserManagement
@using VehicleReservationSystem.WebUI.Models
@model VehicleReservationSystem.WebUI.Models.Users.LoginModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    User currentUser = Session[WebUtil.CURRENT_USER] as User;
    ViewBag.Title = "Change Password";

    AlertModel alert = TempData["AlertMessage"] as AlertModel;
    ViewBag.Notify = new VehiclesHandlers().GetAllNotifications() as List<VehicleReservationSystem.Domain.VehicleManagement.Booking>;

}
@if (alert != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alert)
}
<div class="container-fluid" style="margin-top:5px ">

    <div class="" style="background-color:cornflowerblue;">
        <h3 style="color:white; padding:5px">
            <span class=" glyphicon glyphicon-user"></span> Change Password
        </h3>
    </div>
    <div class="form-group">
        @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { enctype = "multipart/form_data" }))
        {
          
            <div class="container-fluid">
                <h4 style="color:white;">Current Password</h4>
                @Html.TextBox("CurrentPassword", null, new { @class = "form-control center-block", id = "pass", placeholder = "Current Password",type="password"})
            </div>
            <div class="container-fluid">
                <h4 style="color:white;">New Password</h4>
                @Html.TextBox("NewPassword", null, new { @class = "form-control center-block", id = "newpass", placeholder = "New Password" ,type="password"})
            </div>
            <div class="container-fluid">
                <h4 style="color:white;">Confirm New Password</h4>
                @Html.TextBox("Confirm", null, new { @class = "form-control center-block", id = "confirm", placeholder = "Confirm New Password",type="password" })
            </div>

            <div class="form-group" style=" margin-top:20px; margin-left:15px;">
                <label id="label" style="color:red"></label>
                <button type="submit" id="btn" class="btn btn" style="background-color:cornflowerblue; color:white;">Change</button>
            </div>
        }
    </div>
</div>

@section myscript{
    <script type="text/javascript">
        $("#btn").click(function (evt) {
            var pass = $("#pass").val();
            var newpass = $("#newpass").val();
            var confirmpass = $("#confirm").val();
            if (newpass != confirmpass) {
                evt.preventDefault();
                $("#label").text("'New Password' does not match with 'Confirm passord' ");
            }
        });




    </script>



}